@model IEnumerable<ASP_NET_Core_Shop.Models.BuyCart>

@{
    ViewData["Title"] = "BuyCart";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">


                        <thead>
                            <tr>
                                <th>商品</th>
                                <th>名稱</th>
                                <th>價格</th>
                                <th>數量</th>
                                <th>小計</th>
                                <th>刪除</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr id="cart-product @item.ProductId">
                                            <td class="thumbnail-img">
                                                <a href="#">
                                                    <img class="img-fluid" src="@item.Product.Image" alt="" />
                                                </a>
                                            </td>
                                            <td class="name-pr">
                                                <a href="#">
                                                    @item.ProductName
                                                </a>
                                            </td>
                                            <td class="price-pr">
                                                <p id="product-price">NT$ @item.Product.Price</p>
                                            </td>
                                            <td class="quantity-box"><input type="number" id="@item.ProductId" size="4" value="@item.Quantity" min="1" step="1" class="c-input-text qty text" onchange="calculatorUpdate(this.id,this.value)"></td>
                                            <td class="total-pr">
                                                <p class="total" id="product-total">NT$ @(item.Product.Price * item.Quantity)</p>
                                            </td>
                                            <td class="remove-pr">
                                                <a href="#" id="@item.ProductId" onclick="deleteCart(this.id)">
                                                    <i class="fas fa-times"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @{
            if (Model.Count() == 0)
            {
                <h2>目前尚未選購商品</h2>
            }
        }
        <div class="row my-5">
            <div class="col-lg-6 col-sm-6">
                <div class="coupon-box">
                    <div class="input-group input-group-sm">
                        <input class="form-control" id="coupon" placeholder="Enter your coupon code" aria-label="Coupon code" type="text">
                        <div class="input-group-append">
                            <button class="btn btn-theme" type="button" onclick="useCoupon()">使用優惠碼</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="update-box">
                    <input value="Update Cart" type="submit">
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-lg-8 col-sm-12"></div>
            <div class="col-lg-4 col-sm-12">
                <div class="order-box">
                    <h3>本次結帳</h3>
                    <div class="d-flex">
                        <h4>小計</h4>
                        <div class="ml-auto font-weight-bold" id="order-total"> $ 130 </div>
                    </div>
                    <hr class="my-1">
                    <div class="d-flex">
                        <h4>運費</h4>
                        <div class="ml-auto font-weight-bold" id="order-shipping">  150 </div>
                    </div>
                    <div class="d-flex">
                        <h4>折扣</h4>
                        <div class="ml-auto font-weight-bold" id="order-discount">  0 </div>
                    </div>
                    <hr>
                    <div class="d-flex gr-total">
                        <h5>總金額</h5>
                        <div class="ml-auto h5" id="final-total"> $ 388 </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="col-12 d-flex shopping-box"><a asp-controller="Shop" asp-action="CheckOut" asp-route-discount="coupon" class="ml-auto btn hvr-hover" id="send">確認購買</a> </div>
        </div>

    </div>
</div>
<!-- End Cart -->
<script>
    var usecoupon = false;
    const shipping = 150;
    const discount = 50;
    $(document).ready(function () {
        orderUpdate();
    });

    function calculatorUpdate(productId, quantity) {
        var product = document.getElementById(`cart-product ${productId}`);
        var price = product.querySelector("#product-price").textContent.replace("NT$","");
        var total = product.querySelector("#product-total");
        total.textContent = `NT$  ${parseInt(price) * quantity}`;
        $.ajax({
            type: "POST",
            url: "UpdateBuyCart",
            data: JSON.stringify({
                productId: parseInt(productId),
                quantity: parseInt(quantity),
            }),
            contentType: "application/json",
        }).done(function (result) {
            console.log(result);
        }).fail(function (jqXHR, textStatus, err) {
            if (jqXHR.status == 401) {
                alert("找不到此用戶資訊，請重新登入!");
                window.location.href = "Login";
            }
        })
        orderUpdate();
    }
    function orderUpdate() {
        var totals = document.getElementsByClassName("total");
        var orderTotal = 0;
        var final = 0;
        for (var i = 0; i < totals.length; i++) {
            orderTotal += parseInt(totals[i].textContent.replace("NT$", ""));
        }
        document.getElementById("order-total").textContent = ` ${orderTotal}`;

        var coupon = document.getElementById("coupon").value;
        if (usecoupon) {
            if (coupon == "usecoupon") {
                document.getElementById("order-discount").textContent = `-     ${discount}`;
                final -= discount;
            }
        }
        final += orderTotal;
        final += shipping;
        document.getElementById("final-total").textContent = `NT$ ${final}`;
    }
    function useCoupon() {
        usecoupon = true;
        orderUpdate();
        var a = document.getElementById("send");
        var url = a.getAttribute("href");
        console.log(url);
        url = url.replace("coupon", "usecoupon");
        a.setAttribute("href", url);
    }
    function deleteCart(id) {
        console.log(id);
        $.post('DeleteBuyCart/' + id)
            .done(function (message) {
                alert(message);
                window.location.href = "BuyCart";
            })
            .fail(function (jqXHR, textStatus, err) {
                if (jqXHR.status == 401) {
                    alert("請重新登入會員!");
                }
            });
    }
</script>
