@model IEnumerable<ASP_NET_Core_Shop.Models.Product>

@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="/Images/Products/pexels-any-lane-5945560.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>甜蜜誘惑</strong></h1>
                        <p class="m-b-40">結合了法式的藝術與日式的精緻，製作出令人難以抗拒的蛋糕與糕點</p>
                        <p><a class="btn hvr-hover" href="#Hot">查看熱門甜點</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="/Images/Products/pexels-lucie-liz-3957500.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>嚴選天然食材</strong></h1>
                        <p class="m-b-40">讓您吃得健康是我們的責任</p>
                        <p></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="/Images/Products/pexels-marta-dzedyshko-2067621.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>手作麵包</strong></h1>
                        <p class="m-b-40">多樣選擇，為您展開麵包饗宴</p>
                        <p><a class="btn hvr-hover" href="#Hot">查看熱門麵包</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->
<main>
    <!-- Start Blog  -->
    <div class="latest-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>我們堅持</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="/Images/HomePage/pexels-pixabay-265242.jpg" alt="" />
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>嚴選天然食材</h3>
                                <p>每一口都能感受天然香氣，且健康無負擔!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="/Images/HomePage/pexels-daria-shevtsova-1070946.jpg" alt="" />
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>多樣化的選擇</h3>
                                <p>滿足您的各種需求與任性又挑剔的味蕾</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="/Images/HomePage/pexels-karolina-grabowska-4506249.jpg" alt="" />
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>快速新鮮送達</h3>
                                <p>當天出爐並送達，堅持讓您品嚐最佳風味!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog  -->
    <!-- Start Products  -->
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1 id="Hot">熱門商品區</h1>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                        <div class="button-group filter-button-group">
                            <!--這裡是依照data-filter切換下面產品 後續要改成動態讀取-->
                            <button class="active" data-filter="*">全部</button>
                            <button data-filter=".hot-new">熱門新品</button>
                            <button data-filter=".best-seller">人氣商品</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row special-list">
                @foreach (var item in Model)
                {
                    var title = "";
                    var category = "";
                    var pClass = "";
                    if (item.Stock >= 10)
                    {
                        category = "hot-new";
                        title = "熱門新品";
                        pClass = "new";
                    }
                    else if (item.Stock <= 5)
                    {
                        category = "best-seller";
                        title = "人氣商品";
                        pClass = "sale";
                    }
                    <div class="col-lg-3 col-md-6 special-grid @category">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <div class="type-lb">
                                    <p class="@pClass">@title</p>
                                </div>
                                <img src="@item.Image" class="img-fluid" alt="Image">
                            </div>
                            <div class="why-text">
                                <h4>@item.Name</h4>
                                <h5>NT$@item.Price</h5>
                            </div>
                            <button class="btn btn-outline-success" id="@item.Id" type="submit" onclick="AddToBuyCart(this.id)" style="width:150px;height:38px;">加入購物車</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- End Products  -->
</main>
<script>
    function AddToBuyCart(productId) {
        $.post('AddProductToBuyCart/' + productId)
            .done(function (message) {
                alert(message);
            })
            .fail(function (jqXHR, textStatus, err) {
                if (jqXHR.status == 401) {
                    alert("請先登入會員!");
                }
            })
    }
</script>